<ul>
    {{#each data}}
    {{!-- <li>{{this.productLine}}: {{this.textDescription}}</li> --}}
    <li>
        <details>
            <summary>{{this.productLine}}</summary>
            <p>{{this.textDescription}}</p>
        </details>
    </li>
    {{/each}}
</ul>