<div id="title-container">
    <h1>
        {{model.title}}
    </h1>
</div>
<hr/>
<main>
    <form id="note-input" >
        <input type="text" name="note"
               placeholder="Enter a new note here!"/>
        <button type="submit">Save</button>
    </form>
    <section>
        <div>
            <span>Example note text</span>
        </div>
    </section>
</main>