body {
    background-color: #253535;
    color: #ddf;
}

hr {
    border-width: 0;
    border-bottom-width: 2px;
    border-color: #bdd;
    border-style: solid;
}

main {
    margin: 20px 10px;
}

form {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#note-input input {
    flex-grow: 2;
    background-color: #052020;
    color: #ddf;
    font-size: 1.2em;
    border: 0;
    border-radius: 8px;
    box-shadow: #bdd 0 0 4px 1px;
    padding:16px;
    max-width: 500px;
}

#note-input input:focus-visible {
    outline: none;
    box-shadow: #bdd 0 0 6px 2px;
}


#note-input button {
    background-color: #5d5;
    min-width: 80px;
    max-width: 120px;
    flex-grow: 1;
    border: 0;
    border-radius: 8px;
    box-shadow: #8f8 0 0 3px 1px;

    transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: box-shadow 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}
#note-input button:hover {
    background-color: #7f7;
    box-shadow: #8f8 0 0 6px 2px;
}

section {
    margin-top: 1em;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

section>div {
    background-color: #052020;
    box-shadow: #577 0 0 4px 1px;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    max-width: 700px;
}

#title-container {
    display: flex;
    justify-content: center;
}

h1 {
    margin-right: 10px;
    margin-bottom: 0;
}

.note {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note>.buttons {
    display: flex;
    gap: 0.5em;
}
.note>.buttons i{
    color: inherit;
    font-size: 0.8em;
}

.note>.buttons>button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ddf; */
    background: none;
    color:  #bdd;
    box-shadow: #bdd 0 0 2px 1px;
    border: none;
    border-radius: 50px;
    width: 1.7em;
    height: 1.7em;
    cursor: pointer;

    transition: background-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.note>.buttons i:hover{
    color: inherit;
    font-size: 0.8em;
}

.note>.buttons>button:hover {
    color:#052020;
    background-color: #ddf;
}

.hidden {
    display: none !important;
}

.note-priority {
    flex-grow: 1;
    text-align: right;
    padding: 0 10px;
    color: #577;
}

.note.style-1 {
    /*Raudonas*/

    background-color: #f33;
    color: #253535;
    box-shadow: #d88 0 0 4px 1px;
}

.note.style-1 .note-priority {
    color: #ddf;
}

.note.style-2 {
    /*geltonas*/

    background-color: #bb6;
    color: #253535;
    box-shadow: #bb8 0 0 4px 1px;
}

.note.style-3 {
    /*zalias*/

    background-color: #696;
    color: #253535;
    box-shadow: #d88 0 0 4px 1px;
}

.note.style-3 .note-priority {
    color: #ddf;
}
